@font-face {
  font-family: 'UOC_Sans-Regular';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.eot');
  src:
  url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Regular/UOC_Sans-Regular_web.svg') format('svg');
}

@font-face {
  font-family: 'UOC_Sans-Italic';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.eot');
  src: 
  url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Italic/UOC_Sans-Italic_web.svg') format('svg');
}

@font-face {
  font-family: 'UOC_Sans-Bold';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.eot');
  src: 
  url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold/UOC_Sans-Bold_web.svg') format('svg');
}

@font-face {
  font-family: 'UOC_Sans-Bold_Italic';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.eot');
  src: 
  url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Sans-Bold_Italic/UOC_Sans-Bold_Italic_web.svg') format('svg');
}

@font-face {
  font-family: 'UOC_Serif-Regular';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.eot');
  src: 
  url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Serif-Regular/UOC_Serif-Regular_web.svg') format('svg');
}

@font-face {
  font-family: 'UOC_Serif-Italic';
  font-style: normal;
  src: url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.eot');
  src: 
  url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.woff2') format('woff2'),
  url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.woff') format('woff'),
  url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.ttf') format('truetype'),
  url('../fonts/UOC-webfonts/UOC_Serif-Italic/UOC_Serif-Italic_web.svg') format('svg');
}
