meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
// Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@publisher_handle")
meta(name="twitter:title" content="Titulo SEO")
meta(name="twitter:description" content="descripción SEO")
meta(name="twitter:creator" content="@author_handle")
meta(name="twitter:image" content="http://www.example.com/image.jpg")

// Open Graph data = FACEBOOK
meta(property="og:title" content="Titulo SEO")
meta(property="og:type" content="website")
meta(property="og:url" content="http://www.example.com")
meta(property="og:image" content="http://www.example.com/image.jpg")
meta(property="og:description" content="Descripción SEO")
meta(property="og:site_name" content="Nombre de la web")
meta(property="fb:admins" content="Si existe se pondra aquí la ID de facebook")
  

meta(name="description" content="Descripcion")
meta(name="keywords" content="keyword1, keyword2, keyword3")

link(rel="stylesheet" type="text/css" href="css/styles.min.css")