header
	.subheader-rrss
		.container
			.col-sm-3.col-lg-2.pull-right
				ul.list-inline
					li
						a.icn-fb(href="index.html", title="Facebook")
					li
						a.icn-tw(href="index.html", title="Twitter")
					li
						a.icn-gp(href="index.html", title="Google+")
	.container
		.row
			nav.links
				ul.list-inline
					li
						a(href="index.html", title="Vídeos") Vídeos
					li
						a(href="index.html", title="Fotos") Fotos
					li
						a(href="index.html", title="Horóscopo") Horóscopo
					li
						a(href="index.html", title="Lo más") Lo más
		.row
			.main-menu
				a.logo(href="https://elpais.com/", title="El País")
					figure
						img(src="img/logo_negro.png", alt="", longdesc="Logo secundario El País")
				nav
					ul.list-inline.text-center
						li
							a(href="index.html", title="Inicio") Inicio
						li
							a(href="index.html", title="Moda") Moda
						li
							a(href="index.html", title="Belleza") Belleza
						li.hidden-xs
							a(href="index.html", title="Lo más") 
								img(src="img/s-moda-logo.jpg" alt="Logo Principal de S Moda", longdesc="Logo Principal")
						li
							a(href="index.html", title="Placeres") Placeres
						li
							a(href="index.html", title="Celebritis") Celebritis
						li
							a(href="index.html", title="Blogs") Blogs