.block-categories
	h4 Categorías
	ul
		li
			a(href="index.html", title="Maquillaje") Maquillaje
		li
			a(href="index.html", title="Otros") Otros
		li
			a(href="index.html", title="Pelo") Pelo
		li
			a(href="index.html", title="Sin categoría") Sin categoría