.block-recent-posts
	h4 Entradas recientes
	ul
		li
			a(href="index.html", title="Los imprescindibes para dar volumen al pelo") Los imprescindibes para dar volumen al pelo
		li
			a(href="index.html", title="Como conseguir una piel iluminada 'jugosa' ") Como conseguir una piel iluminada 'jugosa'
		li
			a(href="index.html", title="Cómo colocar un postizo de moño y flequillo") Cómo colocar un postizo de moño y flequillo
		li
			a(href="index.html", title="Cómo aplicar corrector para mejorar las facciones") Cómo aplicar corrector para mejorar las facciones
		li
			a(href="index.html", title="Un maquillaje perfecto para la fiestas") Un maquillaje perfecto para la fiestas