article.block-post
	figure
		img(src="img/blog-header.jpg", alt="", longdesc="Imagen de cabecera")
	.wrap-content
		h2
			| Página de Ejemplo
		p 
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget elementum nibh, in fringilla justo. Nulla viverra magna magna, vel tristique nibh dictum quis. Cras rutrum vehicula dolor, eget elementum tortor porttitor in. Aliquam varius ullamcorper enim at vestibulum. Ut blandit magna nec ipsum tempus, vitae eleifend arcu sagittis. Donec egestas lectus vitae turpis lacinia rutrum. Suspendisse sed risus id mi vestibulum lacinia. Phasellus ac velit sit amet turpis cursus faucibus. Praesent eget est velit. Maecenas tempor egestas viverra. Vestibulum mattis efficitur commodo.
		em
			| Morbi vitae interdum enim, a imperdiet nisl. Nulla posuere nibh sed felis semper porttitor. Praesent a aliquet sem. Duis id augue eget tellus laoreet vestibulum ac a lacus. Nulla nec justo ex. 
		p
			| O algo así:					
		em
			| Vivamus vitae risus vitae nunc tempor maximus. Aenean tempor facilisis mattis. Duis eu lectus turpis. Donec dapibus tincidunt venenatis.
		p
			| Ut quis nulla eu nisi dapibus mollis. Maecenas interdum lorem at lobortis accumsan. 
