article.block-comments
	.wrap-author-comment
		figure
			img(src="img/author-img.jpg", alt="", longdesc="Imagen del autor")
		.wrap-info
			a.author(href="index.html", title="Autor anónimo") Autor anónimo
			span.date Publicado: 21/09 a las 21:29
			a.permalink(href="index.html", title="permalink") Permalink
	.wrap-text-comment
		p
			|	Fusce tristique, sem posuere rutrum maximus, nibh augue aliquet erat, vel posuere nibh mauris vel neque. Nullam mollis erat id sem viverra tincidunt. Curabitur sed iaculis sem. In hac habitasse platea dictumst. Vivamus facilisis ante in lorem pharetra ultrices. Fusce viverra imperdiet erat, sit amet mollis urna cursus sed. Suspendisse potenti. Pellentesque dui ante, aliquam sed sodales quis, eleifend sed magna.
		a(href="index.html", title="Respuesta").pull-right Respuesta