@charset "UTF-8";
*{
  margin:0;
  padding: 0;
}

body{
  background: #000 url(../img/food-bg.jpg) repeat-y center center;
  background-size: cover;
  height: 100vh;
}



.logo{
  width: 100%;
  padding: 10px 2%;
  text-align: center;
  color: #ffffff;
  background: rgba(0,0,0,0.7);
}



.logo h1{
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:10px;
}


.logo p{
  font-size: 16px;
  padding: 0 20px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom:10px;
}

.input{
  width: 100%;
  padding: 0 0 20px;
  text-align: center;
  background: rgba(0,0,0,0.7);
}

.input #inputText{
  width: 60%;
  padding: 10px 15px;
  border: none;
  background: rgba(255,255,255,0.8);
  color: #000000;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.input #buttonSearch{
  padding: 10px;
  text-transform: uppercase;
  background: #4285f4;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  border: none;
  border-radius: 0 25px 25px 0;
  margin-left:-10px;
  outline: none;
}

#productInfo{
  width: 95%;
  min-height: 55vh;
  background: rgba(255,255,255,0.85);
  display: block;
  margin: 5% auto;
  padding: 20px 20px 40px;
  position: relative;
}
#productInfo h4{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 70%;
  width: 90%;
  font-size: 24px;
  line-height: 32px;
}

#productInfo h2{
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 32px;  
}

#productInfo .gallery{
  display: block;
  width: 100%;
  margin: 0 auto;
}

#productInfo .gallery li{
  display: inline-block;
  width: 100%;
  margin: 0 1%;
  list-style-type: none;
}

#productInfo .gallery li img{
  display: block;
  margin: 0 auto;
  max-height: 220px;
}

#productInfo .productProperties{
  margin-top:20px;
  width:100%;
  display: inline-block;
}

#productInfo .productProperties li{
  list-style-type: none;
}

#productInfo .productProperties li p{
  font-size:16px;
  font-style: italic;
  word-break: break-all;
}

#productInfo .productProperties li p strong{
  margin-right:8px;
  font-size:18px;
  font-style: normal;
}

#productInfo .productNutritionalValue{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 20px; 
}

#productInfo .productNutritionalValue h3{
  font-size: 20px;
  margin: 0 0 30px;
}

#productInfo .productNutritionalValue li{
  list-style-type: none;
  width: 100%;
  padding: 30px 20px 20px;
  margin: 1%;
  border: 1px solid #333;
  float: left;
}

#productInfo .productNutritionalValue li p{
  font-size:16px;
  font-style: italic;
  text-align: center;
}

#productInfo .productNutritionalValue li p strong{
  margin-right:8px;
  font-size:18px;
  font-style: normal;
  display: block;
}


@media(min-width: 768px){
  #productInfo .productNutritionalValue li{
    width: 48%;
  }
  #productInfo h4{
    height: 40%;
    width: 70%;
    font-size: 30px;
    line-height: 60px;
  }
}


@media(min-width: 992px){
  .logo{
    padding: 10px 20%;
  }
  .logo h1{
    font-size: 40px;
  }
  .logo p{
    font-size: 20px;
  }
  .input #inputText{
    width: 30%;
  }
  .input #buttonSearch{
    padding: 10px 30px;
  }
  #productInfo{
    width: 80%;
    padding: 20px 50px 40px;
  }
  #productInfo .gallery{
    width: 50%;
  }
  #productInfo .gallery li{
    display: inline-block;
    width: 45%;
  }
  #productInfo .productProperties{
    width:48%;
  }
  #productInfo .productNutritionalValue{
    width: 50%;
  }
  #productInfo .productNutritionalValue li{
    width: 100%;
  }
  #productInfo h4{
    height: 55%;
    width: 70%;
    font-size: 36px;
    line-height: 50px;
  }
}

@media(min-width: 1200px){
  #productInfo .productNutritionalValue li{
    width: 31%;
  }
  #productInfo h4{
    height: 40%;
    width: 70%;
    font-size: 40px;
    line-height: 90px;
  }
}