doctype
html(lang="es")
	head
		title Prueba Maquetación Tictum
		include partials/head.jade
	body
		include partials/header.jade
		main
			block content
		footer
			include partials/footer.jade
		include partials/scripts.jade