.block-bio{
	padding-left:10px;
	border-left: 5px solid #eeeeee; 
	margin-bottom:30px;
	p{
		font-size: 16px;
	}
	span{
		font-size: 12px;
		font-style: italic;
		color: #cccccc;
	}
}


@media(min-width:768px){

}

@media(min-width:992px){
    
}

@media(min-width:1200px){
    
}
